*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #C6FFDD;  
background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  
background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); 

width: 100%;
height: 100vh;

display: flex;
justify-content: center;
align-items: center;
}

.phone-img{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    background-color: white;
    max-width: 496px;
    width: 80%;
    height: 80vh;
    border-radius: 50px;
}

.top-line{
    
    width: 100%;
    height: 10%;
    background-color: #f5878aa2;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.content{
    height: 73%;
    background-color: white;
    overflow: scroll;
}



.item-list{
    display: flex;
}

.date{
    margin: 10px;
    
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.item{
    margin: 10px 0 10px 5px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 300ms;
    
}

.icon{
   display: flex; 
   align-items: center;
   margin: 10px;
}

.icon i{
    padding: 0 5px;
    cursor: pointer;
    transition: all 300ms;
}

.check:hover{
    transform: scale(1.5);
    color: greenyellow;
}

.delete:hover{
    color: red;
    transform: scale(1.5);
}


.write-item{
    height: 7%;
    display: flex;
}

.write-date{
    width: 20%;
    text-align: center;
    background-color:rgba(43, 116, 91, 0.185)
}

.write-todo{
    width: 65%;
    padding: 10px;
    background-color:rgba(127, 255, 212, 0.253)
}

.write-item button{
    width: 15%;
    background-color: bisque;
    cursor: pointer;
}

.write-item input,button{
    border: none;
}



.bottom-line{
    height: 10%;
    background-color: #f5878aa2;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.textdeco{
    text-decoration: line-through;
    color: red;
}
